<div id="sidebar" class="sidebar dong">
    <div class="sidebar-brand">
      <span class="image">
          <img src="../assets/img/logo.png" alt="">
      </span>
      <div class="text logo-text">
          <span class="name"><h3>NTS - Nhạc</h3></span>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="" class="active">
            <span class="las la-music"></span><span class="text">Nhạc</span>
          </a>
        </li>
        <li>
          <a href="" class="active">
            <span class="las la-music"></span><span class="text">Nhạc</span>
          </a>
        </li>
      </ul>
    </div>
  </div>