<body>
  <div id="main" class="main">

    <div id="sidebar" class="sidebar" [ngStyle]="{'width': leftWidth}">
      <div>
        <div class="sidebar-brand" href="">
          <span class="image">
            <img src="../assets/img/logo.png" alt="">
          </span>
          <div class="text logo-text" *ngIf="sidebarOn">
            <span class="name">
              <h3>NTS - Nhạc</h3>
            </span>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li *ngFor="let item of menuItems">
              <a href="item.link" [ngClass]="{'active': item.isActive}" (click)="activateMenuItem($event, item)">
                <span [class]="item.iconClass"></span>
                <span class="name" *ngIf="sidebarOn">{{ item.name }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="sidebar-bottom">
        <div class="sun-moon">
          <i class='las la-moon icon moon' *ngIf="darkModeActive"></i>
          <i class='las la-sun icon sun' *ngIf="!darkModeActive"></i>
        </div>
        <span class="mode-text text" *ngIf="sidebarOn">{{ darkModeActive ? 'Dark mode' : 'Light mode' }}</span>
        <div class="toggle-switch">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="darkModeActive" (click)="toggleDarkMode()">
            <span class="slider round"></span>
          </label>
        </div>
      </div>

    </div>

    <div id="body" class="body" [ngStyle]="{'width': rightWidth}">
      <div id="header">
        <h3 class="d-flex">
          <i (click)="sidebarClick()" class="las la-bars"></i>
          <label for="">QUẢN LÝ NHẠC</label>
          <div class="toggle-switch">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="darkModeActive" (click)="toggleDarkMode()">
              <span class="slider round"></span>
            </label>
          </div>
        </h3>


        <!-- <div class="audio">
          <button class="btn btn-secondary" (click)="openFileInput.click()">PLAY AUDIO</button>
          <input #openFileInput type="file" style="display: none" (change)="onFileSelected($event)">
        </div> -->

        <div class="user-wrapper">
          <!-- <i class="las la-bell"></i> -->
          <img src="assets/img/avatar.jpg" width="40px" height="40px" alt="avatar">
          <div>
            <h4> Hieu </h4>
            <small> Admin </small>
          </div>
        </div>
      </div>

      <div id="main-content">
        <div class="card">
          <div class="card-head">
            <div class="search-container">
              <select name="search-type" [(ngModel)]="selectedOption" (change)="updateSearchOptions()">
                <option value="status">Tình trạng</option>
                <option value="type">Loại nhạc</option>
                <option value="content">Nội dung</option>
                <option value="default" selected>Tìm kiếm theo ...</option>
              </select>

              <div class="search-text" *ngIf="selectedOption === 'content'" data-content>
                <input type="text" class="search-box" placeholder="Tìm kiếm nhạc theo nội dung"
                  [(ngModel)]="model.keyword" (keyup)="onKeyUp($event)">
              </div>

              <div class="search-text" *ngIf="selectedOption === 'status'">
                <select name="search-status" id="" [(ngModel)]="statusOptions" (change)="changeStatus($event)">
                  <option value="1">Đang hoạt động</option>
                  <option value="2">Dừng hoạt động</option>
                </select>
                <input type="text" class="search-box" placeholder="Tìm kiếm nhạc theo nội dung"
                  [(ngModel)]="model.keyword" (keyup)="onKeyUp($event)">
              </div>

              <div class="search-text" *ngIf="selectedOption === 'type'">
                <select name="search-status" id="" [(ngModel)]="typeOptions" (change)="changeType($event)">
                  <option value="1">Nhạc một lần</option>
                  <option value="2">Nhạc theo tuần</option>
                  <option value="3">Nhạc theo năm</option>
                </select>
                <input type="text" class="search-box" placeholder="Tìm kiếm nhạc theo nội dung"
                  [(ngModel)]="model.keyword" (keyup)="onKeyUp($event)">
              </div>

              <div class="button">
              </div>
              <button class="btn btn-success" type="submit" (click)="paginationMusic()"> <span
                  class="las la-search"></span>Tìm kiếm </button>
              <button class="btn btn-secondary" type="secondary" (click)="clear()"><span class="las la-sync"></span>Làm
                mới</button>
            </div>
          </div>

          <div class="card-header">
            <div class="total">
              <h6>Tổng số {{model.totalItems}} loại nhạc</h6>
            </div>
            <button class="btn btn-success" (click)="addModel()"><span class="las la-plus"></span>Thêm mới</button>
          </div>

          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="stt-width">STT</th>
                  <th class="equal-width">Xử lý</th>
                  <th class="equal-width">Tình trạng</th>
                  <th class="equal-width">Loại nhạc</th>
                  <th class="equal-width">Thời gian phát</th>
                  <th class="equal-width">Ngày phát</th>
                  <th class="three-times-width">Nội dung</th>
                </tr>
              </thead>
              <tbody *ngFor="let nha of danhSachNhac ; let i = index">
                <tr>
                  <td> {{startIndex+i}}</td>
                  <td>
                    <button class="btn btn-primary" (click)="updateModel(nha.id)"> <span class="las la-edit"></span>
                    </button>
                    <button class="btn btn-danger" (click)="deleteModel(nha.id)"> <span class="las la-trash"></span>
                    </button>
                  </td>
                  <td>
                    <span class="active" *ngIf="nha.tinhTrang==true">Đang hoạt động</span>
                    <span class="inactive" *ngIf="nha.tinhTrang==false">Dừng hoạt động</span>
                  </td>
                  <td style="text-align: left;">
                    <span *ngIf="nha.type==1">Nhạc một lần</span>
                    <span *ngIf="nha.type==2">Nhạc theo tuần</span>
                    <span *ngIf="nha.type==3">Nhạc theo năm </span>
                  </td>
                  <td> {{nha.thoigianPhat}} </td>
                  <td style="text-align: left;"> {{nha.ngay}} </td>
                  <td style="text-align: left;"> {{nha.noiDung}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
            <div class="controls ">
              <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                (ngModelChange)="paginationMusic()" name="pageSize">
                <option *ngFor="let item of ListPageSize" [value]="item">{{item}}</option>
              </select>
            </div>
            <label class="form-label" style="padding:4px;">bản ghi/Trang</label>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
            <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.PageNumber"
              (pageChange)="paginationMusic()" [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true"
              [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>

      <div id="note">
        <div class="square-box">
          <div class="square"><i class="las la-plus"></i></div>
          <span class="caption">Thêm loại nhạc</span>
        </div>
        <div class="square-box">
          <div class="square"><i class="las la-edit"></i></div>
          <span class="caption">Chỉnh sửa loại nhạc</span>
        </div>
        <div class="square-box">
          <div class="square"><i class="las la-trash"></i></div>
          <span class="caption">Xoá loại nhạc</span>
        </div>
      </div>
    </div>



  </div>



</body>

<!-- <router-outlet></router-outlet> -->