@import url('https://fonts.googleapis.com/css2? family=Poppins: wght@300;400; 500; 600&display=swap');

:root {
    --main-color: #DD2F6E;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --toggle-color: #DDD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

#main {
    display: flex;
    width: 100%;
    overflow: hidden;
}

/* #sidebar{
    justify-content: space-between;
} */

.sidebar {
    /* position: fixed; */
    position: relative;
    height: 100vh;
    padding: 0;
    background: var(--main-color);
    /* width: 250px; */
}

/* .sidebar.dong {
    width: 100px;
} */

.sidebar-brand {
    display: flex;
    align-items: center;
    /* display: inline-block; */
    /* justify-content: space-between; */
    height: 70px;
    padding: 1rem 1rem 1rem 1.5rem;
    color: #fff;
    background: #fff;
    background-color: #E4E9F7;
}

.sidebar-brand .image {
    margin-right: 1rem;
}

.sidebar .image-text {
    display: flex;
    align-items: center;
}

.sidebar .logo-text {
    display: flex;
    flex-direction: column;
}

/* .sidebar.dong .text {
    opacity: 0;
} */

.sidebar .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar li a:hover {
    background-color: #695CFE;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu ul {
    padding-left: 0;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    text-align: center;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: flex;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a.active {
    background: #fff;
    color: var(--main-color);
}

.sidebar-menu a span:first-child {
    font-size: 2rem;
    padding-right: 1rem;
}

.sidebar-bottom .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}




.sidebar,
.body {
    height: 100vh;
    /* overflow: hidden; */
    transition: width 0.3s ease;
}

#body {
    /* left: 250px; */
    margin-left: 10px;
    /* float: right; */
    /* width: 100%;
    right: 0; */
    /* overflow: auto; */
    overflow-x: hidden;
    flex: 1;
}


.dark-mode {
    background-color: #1a1a1a !important;
    color: #fff;
}

.dark-mode .sidebar-brand {
    color: #000;
    background-color: #E4E9F7;
}

.dark-mode .sidebar-menu a {
    color: #fff;
}

.dark-mode .sidebar-menu a.active {
    background: #fff;
    color: var(--main-color);
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    display: flex;
    align-items: center;

}

.sidebar-bottom .sun-moon {
    margin-right: 1rem;
}

.sidebar-bottom {
    color: #fff;
}

.toggle-switch {
    margin-left: auto;
}

/* Nếu bạn muốn thêm khoảng cách giữa dark mode và toggle switch */
.sidebar-bottom .mode-text,
.toggle-switch {
    margin-right: 10px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15.5px);
    -ms-transform: translateX(15.5px);
    transform: translateX(15.5px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    height: 14.5px;
    width: 14.5px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 100;
    /* background-color: #E4E9F7; */
    /* overflow: hidden; */
}

h3 {
    color: #222;
    margin: 0;
}

#header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper div h4 {
    margin: 0;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    margin-top: -10px;
}

/* 
#main-content {
    padding-top: 70px;
} */

.card {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    padding: 0;
    /* margin-left: 10px; */
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container>* {
    margin-right: 10px;
}

.button {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* button[type="submit"]{
    margin-right: 0;
} */

.search-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    height: 42px;
}

.search-container .search-text {
    display: flex;
    width: 100%;
}

.search-container .search-text input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    width: 100%;
}

.search-container button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.card button span,
button {
    padding: 0px 5px;
    white-space: nowrap;
}

.card .card-header {
    display: flex;
    align-items: center;
}

.card .card-header button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-align: right;
}

.card .card-header .total {
    width: 100%;
}

.card-body thead tr th {
    white-space: nowrap;
    text-align: center;
}

.card-body {
    width: 99%;
    overflow-x: auto;
}

.card-body table tbody tr td {
    white-space: nowrap;
}

table {
    width: 100%;
    table-layout: fixed;
}

.equal-width {
    width: 200px;
}

.three-times-width {
    width: 400px;
}

th,
td {
    text-align: center;
    /* padding: 8px; */
    border: 1px solid #ddd;
}

.stt-width {
    width: 50px;
}

.table .btn-primary {
    margin-right: 6px;
}


/* #footer {
    display: flex;
    align-items: center;
}

#footer .quantity {
    width: 90%;
} */

#note {
    display: flex;
    align-items: center;
}

#note .square-box {
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
}

#note .square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.square .la-plus {
    background-color: #1BAE5F;
}

.square .la-edit {
    background-color: #007BFF;
}

.square .la-trash {
    background-color: #DC3545;
}

.square i {
    color: white;
}