<div class="modal-header">
    <h3>Thông báo</h3>
    <button type="button" class="close" (click)="closeModel()">&times;</button>
</div>
<div class="modal-body">
    <p>Bạn có chắc chắn muốn xoá loại nhạc này không?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="deleteNhac()"><span class="las la-check"></span> Đồng ý</button>
    <button type="button" class="btn btn-danger" (click)="closeModel()"><span class="las la-times"></span> Không</button>
</div>